/*      CSS RESET   */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul,pre {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
/* Base rules*/
h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1ECD97;
}
p {
    letter-spacing: 1px;
}
a:hover {
    transform: scale(1.1);
}

.arrow-down:hover {
    cursor: pointer;
}
.wrapper section {
    margin-bottom:  70px;
}
.wrapper section:nth-child(last) {
    margin-bottom: 10px;
}
.wrapper section h1 {
    margin-bottom: 20px;
}
i {
    color: #1ECD97;
}

  /* Custom Starts Here */
html, body {
      height: 100%;
      background: #eee;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}

.float-left{
    float: left;
    width: auto;
}
.brand{
    padding: 5px 0 0 10px;
    width: 200px;
    
}
.brand img{
    width: 100%;
}

.float-right {
    float: right;
    font-size: 0.8rem;
    text-transform: uppercase;
    overflow: auto;
}
nav.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    z-index: 1;
    height: 80px;
}
ul.navbar-nav {
    display: flex;
}
.float-right a {
    text-decoration: none;
    font-size: .8rem;
    color: white;
    letter-spacing: 2px;
    display:inline-block;
    position: relative;
    padding: 5px;
}
.float-right li {
    padding: 20px 0 5px;
    margin-right: 30px;
}
.float-right .navbar-item.active{
    border-bottom: solid 4px #1ECD97;
    transform: translateY(-10px);
    color: #1ECD97;
}
.float-right .navbar-item.active a {
    color: #1ECD97;
}
.navbar::after{
    content: " ";
    clear: both;
    display: block;
}
button.resume:active,
button.hire-me:active,
form button:active
 {
    transform: scale(0.95);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}
.project-description h3 {
    text-transform: capitalize;
}

/* header section */

header {
    background-image: linear-gradient(to right,
        rgba(0,0,0,0.8), 
        rgba(0,0,0,0.7)
      ), url(https://www.umbrellaconsultants.com/files/resources/outer-banks-web-development-hosting.jpg);
    height: 100%;
    background-size: cover;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    margin-top: 77px;
}

.profile-picture img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%; */
    /* border: solid 1px #1ECD97; */
    /* box-shadow: 0 0 40px #eee; */
}
.info .name {
    margin-top: 77px;
    padding-right: 20px;
    text-align: center;
    align-self: center;
}
.name h1 {
    /* font-weight: 700; */
    letter-spacing: 3px;
    font-size: 4em;
}
.name h3 {
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
}
.typing {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 0;
    color: green;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 2px solid green;
    width: 29ch;
    animation: type 6s steps(29), blink 500ms steps(1) infinite;
}
@keyframes type {
    from { width: 0ch}
    to { width: 29}
}
@keyframes blink {
    50% {border-color: transparent}
}
.social-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-link a {
    text-decoration: none;
}
.icon span{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 1px white;
    color: white;
    vertical-align: middle;
    text-align: center ;
    margin-right: 15px;
}
.icon span i {
    color: white;
}
.arrow-down{
 margin: 0 auto;
 /* border: solid 1px white;
 width: 50px;
 height: 50px;
 padding: 10px;
 border-radius: 50%; */
 text-align: center;
 margin-bottom:20px;
}
.arrow-down{
    position: relative;
    animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  
/* About me section */

.about-me {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    
}
.about-me .photo {
    width: 150%;
    padding: 10px;
}
.description {
    padding: 30px;
    letter-spacing: 2px;
    line-height: 1.6;
}
.description h1 {
    background:#1ecd97;
    display: table;
    padding: 5px;
    margin-bottom: 5px;
}
.description h3 {
    margin-bottom: 10px;
    display: table;
}
.description h3::after{
    content:'';
    width: 20%;
    display: block;
    height: 3px;
    background: #1ECD97;
}
.buttons button{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border: solid 2px  #1ECD97;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    color:  #1ECD97;
    cursor: pointer;
    background: transparent;
}
.buttons button:hover{
    color: white;
    background: #1ecd97;
}
button:focus, button:active{
    outline: none !important;
}
.buttons button:hover i {
    color: white;
}
pre {
    display: inline-block;
    font-size: 1.5rem;
}


/* My skills Section*/
.skills h1{
    text-align: center;
    margin-bottom: 20px;
}
.skills h1::after{
    content: "(Tech)";
    display: inline;
    text-transform: none;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: #1ECD97;
}

.skill {
    text-align: center;
}
.skill ul li {
    letter-spacing: 2px;
}
.skill h3 {
    font-size: 1.3rem;
    margin: 10px 0;
}
.skill h3::after{
    content:'';
    width: 20%;
    display: block;
    height: 3px;
    background: #1ECD97;
}
.skills-container {
    display: flex;
    justify-content: space-around;
}

/*------------------
| Education & Work section 
--------------------------*/
.education-work-wrapper {
    position: relative;
    margin-top: 50px;
}
.education-work-wrapper::before{
   content: '';
   display: block;
   position: absolute;
   width: 8px;
   height: 100%;
   top: 0;
   left: 220px;
   background-color: gray;

}
.education-work-item {
    position: relative;
    display: block;
    margin-bottom: 70px;
    
}

.circle {
    color: #1ECD97;
    background: white;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 3px #1ECD97;
    top: 10px;
    left: 212px;
}
.education-work-item .content-box {
  width: 100%;
  overflow: hidden;
  
}
.content-box .year {
    width: 180px;
    line-height: 20px;
    text-align: center;
    background:#1ECD97;
    color: white;
    margin-right: 85px;
    padding: 15px 0;
    float: left;
}
.content-box .year i {
    padding: 0 5px;
}
.content-box .description {
    overflow: hidden;
    border-right: solid 5px #1ECD97;
    border-radius: 0 5px 5px 0;
    background: white;
    position: relative;
    padding-left: 50px;
    -webkit-clip-path: polygon(4% 0, 100% 0%, 100% 100%, 4% 100%, 4% 15%, 0 10%, 4% 4%);
    clip-path: polygon(4% 0, 100% 0%, 100% 100%, 4% 100%, 4% 15%, 0 10%, 4% 4%);
}
.company {
    display: flex;
    position: relative;
}
.company-image-box {
 margin-right: 20px;
}
.company-image-box img {
    width: 50px;
    height: auto;
}
.company .position {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #1ECD97;
    border-radius: 50%;
}

/* Projects section */
.projects-container 
{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;

}
.projects-container .project:nth-child(1),
.projects-container .project:nth-child(3) {
    margin-right: 30px;
}
.project {
    width: 40%;
    border: solid 1px #ccc;
    background: white;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    padding: 15px 0 0 0;
    border-radius: 20px;

}

.project .project-description {
    padding: 10px;
}
.project-description h3 {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 30px;
}
.project-description i {
    font-size: 120%;
}
.project-description p {
    color:grey;
    font-size: .9rem;
    font-weight: 300; 
}

/* Contact me section */
.contact-me {
    background: url(https://speed.animaker.com/images/info/Animated-maps.png);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-me h1 {
    color: white;
    text-align: center;
    padding-top: 10px;
    border-bottom: solid 3px #1ECD97;
}

.contact-form {
    padding: 30px;
    margin: 40px;
    width: 40%;
}
.contact-form input {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
    padding-left: 5px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color:gray;
}
.contact-form input[type="text"]{
    text-transform: capitalize;
}
.contact-form textarea{
    display: inline-block;
    width: 100%;
    height: 100px;
    resize: none;
    border: #eee;
    border-radius: 0 5px 5px 0;
    padding-left: 5px;
    padding-top: 5px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: gray;

}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color:gray;
    opacity: .5;
    padding-left: 5px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.contact-form textarea::placeholder{
    padding-top: 5px;
}

.field {
    display: flex;
    margin-bottom: 10px;
    height: 40px;
}
.field .fas{
    color: white;
    background: #1ECD97;
    padding: 5px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form button {
    float:right;
    display: block;
    padding: 10px 20px;
    margin-top: 20px;
    border: solid 2px  #1ECD97;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    color:  #1ECD97;
    cursor: pointer;
}
.contact-form button i {
    padding-right: 5px;
}

/* FOOTER SECTION */
.footer {
    background:#1a0000;
    height: 300px;

}
.footer-main {
    display: flex;
    justify-content: space-around;
    color:white;
    padding-top: 30px;
   
}

.footer-logo {
    width:25%;
}
.footer-logo img {
    width: 100%;
}
.footer-logo p ,
.footer-address .address p{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    line-height: 1.6;
    font-size: .8rem;
}
.footer-logo p {
    margin-top: -150px;
}

.address {
    display: flex;
    margin-bottom: 10px;
}
.address i {
    margin-right: 10px;
}
.footer-social-icons a {
    text-decoration: none;
    display: inline-block;
}
.footer-social-icons h3 ,
.footer-address h3{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 200;

}
.copyright{
    color: white;
    font-size: .9rem;
    font-family: 'Raleway', sans-serif;
    background: #1a0000;
    text-align: center;
    padding: 20px 0 10px 0;
}

  
@media only screen and (min-width: 769px) and (max-width: 1024px)  {
    /* base rule */
    h1 {
        font-size: 2rem;
    }
    /* header */
    nav.navbar {
        height: 70px;
    }
    .navbar-nav .navbar-item a {
        font-size: 0.7rem;
    }
    .navbar .navbar-nav li.navbar-item {
        margin-right: 20px;
    }
    .wrapper {
        margin: 0 3rem;
        width: auto;
    }
    .name h1 {
        font-size: 2.9rem;
    }
    .typing {
        font-size: 1.5rem;
    }
    .profile-picture img {
        width: 300px;
        height: 300px;
    }

    /* about-me */
    .about-me {
        flex-direction: column;
    }
    .about-me .photo {
        max-width: 100%;
    }
    .photo img {
        width: 40%;
    }
    .about-me .description {
        position: relative;
        text-align: justify;
    }
    .about-me h1 {
    position: absolute;
    top: -158px;
    left: 55%;
    }
    .about-me h3 {
        position: absolute;
        top: -77px;
        left: 55%;
    }
    .about-me p {
        font-size: 1rem;
    }

    /* skill */
    .skill h3 {
        font-size: 1.1rem;
    }
    .skill ul li {
        font-size: 1rem;
    }

    /* education & work */
    .company-logo h2 {
        font-size: 1.2rem;
    }
    .company-logo h3 {
        font-size: 1rem;
    }
    .content-box .year {
        width: 145px;
        margin-right: 42px;
    }
    .education-work-wrapper::before {
        left: 168px;
    } 
    .circle {
        left: 160px;
    }
    
     /* contact me */
     .contact-form {
        width: 60%;
      }
 


    
  }

@media only screen and (max-width: 768px) {
     /* base rule */
     h1 {
        font-size: 2rem;
    }
    /* header */
    nav.navbar {
        
        height: 65px;
    }
    .brand.float-left {
        width: 150px;
    }
    .navbar-nav .navbar-item a {
        font-size: 0.6rem;
    }
    .navbar .navbar-nav li.navbar-item {
        margin-right: 10px;
    }
    .wrapper {
        margin: 0 2rem;
        width: auto;
    }
    .name h1 {
        font-size: 2.5rem;
    }
    .typing {
        font-size: 1.3em;
    }
    .profile-picture img {
        width: 250px;
        height: 250px;
    }

    /* about-me */
    .about-me {
        flex-direction: column;
    }
    .about-me .photo {
        max-width: 100%;
    }
    .photo img {
        width: 40%;
    }
    .about-me .description {
        position: relative;
        text-align: justify;
    }
    .about-me h1 {
    position: absolute;
    top: -150px;
    left: 42%;
    }
    .about-me h3 {
        position: absolute;
        top: -70px;
        left: 42%;
    }
    .about-me p {
        font-size: 1rem;
    }

    /* skill */
    .skill h3 {
        font-size: 1.1rem;
    }
    .skill h3::after {
        width: 50%;
        margin: 0 auto;
    }
    .skill h3 span {
        display: none;
    }
    .skill ul li {
        font-size: 1rem;
    }

    /* education & work */
    .company-logo h2 {
        font-size: 1.1rem;
    }
    .company-logo h3 {
        font-size: 1rem;
    }
    .content-box .year {
        width: 130px;
        margin-right: 42px;
    }
    .company .position {
        width: 40px;
        height: 40px;
        padding-left: 3px;
    }
    .position .fa-2x {
        font-size: 1.5rem;
    }
    .education-work-wrapper::before {
        left: 150px;
    } 
    .circle {
        left: 141px;
    }
    
     /* contact me */
     .contact-form {
       width: 70%;
     }

     /*foofter*/
     .footer-address {
         margin-right: 15px;
     }

}

@media only screen and (max-width: 604px) {
    h1 {
        font-size: 1.3rem;
    }
    /* header */
    .navbar .navbar-nav{
        display: none;
        width: 200px;
        height: 100vh;
        background: black;
        opacity: 0.8;
        margin-top: 65px;
        padding-left: 20px;
    }
    .navbar .navbar-nav.active {
        display: block;
    }
    .navbar .navbar-item.active{
        border-bottom: solid 4px #1ECD97;
        width: 60%;
        margin-left: 10px;
        /* transform: translateY(-10px); */
        color: #1ECD97;
    }
    .brand {
        width: 35%;
    }
    .info .name {
        margin-top: 30px;
    }

    /* side menu opener */
    .side-menu-opener, 
    .side-menu-opener:hover, 
    .side-menu-opener.active, 
    .side-menu-opener-inner, 
    .side-menu-opener-inner::before, 
    .side-menu-opener-inner::after{
        -webkit-transition: 500ms all;
        transition: 500ms all;
      }
    .side-menu-opener{
        cursor: pointer;
        height: 50px;
        position: absolute;
        top: 6px;
        right: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 50px;
        z-index: 2;
    }
    .side-menu-opener-inner {
        width: 36px;
        height: 4px;
        background: white;
        position: fixed;
        top: 28px;
        right: 21px;
        z-index: 2;
    }
    .side-menu-opener-inner::before,
    .side-menu-opener-inner::after {
        content: '';
        width: 36px;
        height: 4px;
        background: white;
        display: block;
    }
    .side-menu-opener-inner::before {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .side-menu-opener-inner::after {
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
    .side-menu-opener-inner.active {
        background: transparent;
      }
      .side-menu-opener-inner.active::before {
        -webkit-transform: translateY(0rem) rotate(-45deg);
        -ms-transform: translateY(0rem) rotate(-45deg);
        transform: translateY(0rem) rotate(-45deg);
      }
      .side-menu-opener-inner.active::after {
        -webkit-transform: translateY(-0.3rem) translateX(0rem) rotate(45deg);
        -ms-transform: translateY(-0.3rem) translateX(0rem) rotate(45deg);
        transform: translateY(-0.3rem) translateX(0rem) rotate(45deg);
      }
    
    .wrapper {
        margin: 0 1.8rem;
        width:auto;
    }
    .info {
        flex-direction: column;
    }
    .info .name {
        order: 2;
        padding-right: 0;
    }
    .profile-picture {
        order: 1;
        margin-bottom: 20px;
    }
    .profile-picture img {
        width: 200px;
        height: 200px;
    }
    .typing {
        font-size: 1.3rem;
    }

    /* about me */
    .photo img {
        width: 32%;
    }
    article.description {
        padding: 10px;
    }
    .about-me h1 {
      left: 35%;
    }
    .about-me h3 {
        left: 35%;
    }
    /* skill */
    .skill h3::after {
        width: 50%;
        margin: 0 auto;
    }

    /* education & work */
    .education-work-wrapper::before {
        left: 5px;
    }
    .circle {
        left: -4px;
    }
    .content-box .year {
        width: 171px;
        margin-left: 27px;
        padding: 10px 5px 10px 23px;
        -webkit-clip-path: polygon(9% 0, 100% 0%, 100% 100%, 9% 100%, 9% 69%, 0 43%, 9% 24%);
        clip-path: polygon(9% 0, 100% 0%, 100% 100%, 9% 100%, 9% 69%, 0 43%, 9% 24%);
    }
    .content-box .description {
        margin-top: 42px;
        margin-left: 40px;
        padding-left: 20px;
        clip-path: none !important;
    }
    
    .company .position {
        width: 50px;
        height: 50px;
    }
    /* project */
    .projects-container {
        flex-direction: column;
    }
    .projects-container .project {
        width: 100%;
    }

    /* contact me */
    .contact-form {
        width: 80%;
      }

    /* footer */
    .footer {
        position: relative;
    }
    .footer-logo {
        position: absolute;
        top: 32px;
        left: 20px;
        width: 35%;
    }
    .footer-social-icons {
        position: absolute;
        top: 32px;
        right: 20px;
    }
    .footer-address {
        position: absolute;
        bottom: 24px;
    }

}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }
    h3 {
        font-size: .8rem;
    }
    p {
        font-size: 0.75rem;
    }
    .hide {
        display: none;
    }
  

    /* header */
    .info .name h1 {
        font-size: 1.9rem;
    }
    .info .name {
        padding: 0 10px;
    }
    nav .float-right {
        display: none;
    }
    .brand {
        width: 35%;
    }
    
    .typing {
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
    }
   /* about me */
    .wrapper {
        margin: 0 1.2rem;
        width:auto;
    }
    .about-me .description p{
        font-size: 0.9rem;
    }
    .about-me .description {
        /* text-align: start; */
        font-size: 0.8rem;
    }
    .about-me h1 {
        top: -87px;
    }
    .about-me h3 {
        top: -44px;
    }
    /* skills */
    .skills-container {
        flex-direction: column;
    }
    .skill {
        margin-bottom: 50px;
    }
    .skills h1::after{
        font-size: 1rem;
    }

    .skill ul li {
        font-size: 0.8rem;
    }
    .skill h3::after {
        margin: 0 auto;

    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .buttons a{
        width: 45%;
    }
    .buttons button {
        width: 100%;
        padding: 5px 10px;
        font-size: 1rem;
    }
    
    .resume i,
    .hire-me i {
        display: block;
    }

    /* skill */
    .skill h3::after {
        width: 20%;
    }

    /* education & work experience */
    .content-box .description {
        margin-top: 40px;
        padding: 20px 15px;
        margin-left: 35px;
        clip-path: none;
        -webkit-clip-path: none;
    }
    .content-box .year {
        width: 165px;
        padding: 5px 0;
        padding-left: 20px;
        margin-left: 22px;
        margin-top: 5px;
        -webkit-clip-path: polygon(9% 0, 100% 0%, 100% 100%, 9% 100%, 9% 69%, 0 43%, 9% 24%);
        clip-path: polygon(9% 0, 100% 0%, 100% 100%, 9% 100%, 9% 69%, 0 43%, 9% 24%);
    }
    .company {
        flex-direction: column;
    }
    .company-logo h2 {
        font-size: 0.95rem;
    }
    .company-logo h3 {
        font-size: 0.9rem;
    }
    .company .position {
        width: 35px;
        height: 35px;
        padding-left: 3px;
    }
    .position .fa-2x {
        font-size: 1.3rem;
    }

    /* contact me */
      .contact-form {
          width: 100%;
      }
      .contact-form button {
          font-size: 0.8rem;
          padding: 5px;
      }


    /* footer */
    .footer-logo {
        font-size: 35%;
    }
    .footer-social-icons a.icon {
        font-size: 0.9rem;
    }
    .footer-social-icons .icon span {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 10px;
    }
    .copyright {
        font-size: .8rem;
        padding-bottom: 10px;
    }
}

  

